In [1]:
import pandas as pd
import numpy as np

C:\Users\Нурислам\AppData\Local\Temp\ipykernel_15132\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
train_data = np.load("training_data.npy", allow_pickle=True)
train_data.shape

(110000, 2)

In [3]:
df = pd.DataFrame(train_data)

In [ ]:
df

,0,1
0,"[[[109, 112, 106], [154, 158, 151], [153, 157,...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,"[[[108, 111, 105], [153, 156, 150], [152, 156,...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,"[[[108, 111, 104], [152, 156, 149], [151, 156,...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,"[[[108, 111, 105], [152, 156, 149], [151, 155,...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,"[[[108, 111, 105], [152, 156, 149], [151, 155,...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...
109995,"[[[39, 40, 31], [43, 45, 36], [53, 56, 45], [4...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
109996,"[[[47, 50, 40], [44, 47, 37], [47, 48, 38], [4...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
109997,"[[[62, 63, 52], [56, 58, 47], [44, 46, 35], [4...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
109998,"[[[48, 52, 42], [38, 41, 31], [45, 48, 38], [6...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
109999,"[[[29, 40, 33], [36, 47, 39], [68, 74, 59], [6...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [ ]:
count = 0
for i in range(len(df)):
    if df[1][i][5]:
        count += 1
print(count) # left clicks

0

In [4]:
Xses = []
Yses = []
for i in range(len(df)):
    Xses.append(df[1][i][-2])
    Yses.append(df[1][i][-1])

In [5]:
data_x = []
data_y = []

for i in range(len(df)):
    data_x.append(df[1][i][-2])

    data_y.append(df[1][i][-1])

In [6]:
Xses_binary = []
for i in data_x:
    if i < 0:
        Xses_binary.append([1,0]) # cursor moves left
    elif i > 0:
        Xses_binary.append([0,1]) # cursor moves right
    else:
        Xses_binary.append([0,0]) # no horizontal movement

In [7]:
Yses_binary = []
for i in data_y:
    if i < 0:
        Yses_binary.append([1,0]) # cursor moves up
    elif i > 0:
        Yses_binary.append([0,1]) # cursor moves down
    else:
        Yses_binary.append([0,0]) # no vertical movement

In [8]:
for i in range(len(df)):
    df[1][i] = df[1][i][:-2] + Xses_binary[i] + Yses_binary[i]

C:\Users\Нурислам\AppData\Local\Temp\ipykernel_3508\1406189952.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[1][i] = df[1][i][:-2] + Xses_binary[i] + Yses_binary[i]

In [48]:
df[1]

0         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                        ...
109995    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
109996    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
109997    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
109998    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
109999    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Name: 1, Length: 110000, dtype: object

In [9]:
for i in range(len(df)):
    del df[1][i][4]

In [10]:
for i in range(len(df)):
    del df[1][i][5]

In [11]:
counts = []
for i in range(9):
    count = 0
    for j in range(len(df)):
        if df[1][j][i]:
            count += 1
    counts.append(count)
counts

[26782, 8350, 5377, 7573, 5778, 12179, 14041, 6681, 6381]

In [23]:
df[1][0]

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
df_numpy = df.to_numpy()

In [13]:
np.save("training_data_v2.npy", df_numpy)

In [30]:
counts = []
for i in range(9):
    count = 0
    for j in range(len(df)):
        if df[1][j][i]:
            count += 1
    counts.append(count)

In [32]:
counts

[26782, 8350, 5377, 7573, 5778, 33, 14041, 6681, 6381]

In [2]:
train_data = np.load("training_data_v3.npy", allow_pickle=True)
train_data.shape

(24552, 2)